h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat Alternates Bold';
}

::-webkit-scrollbar {
    /* Webkit */
    width: 0;
    height: 0;
}
.hs__wrapper{
    background-color: #fff;
    border-radius: 18px;
    padding: 1em;
    border: 8px solid #feb386;
    border-style: double;
    margin-top: 2em;
}
.hs {
    display: -webkit-box;
    display: flex;
    overflow-x: scroll;
    -webkit-box-pack: justify;
    justify-content: space-between;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    -webkit-overflow-scrolling: touch;
    margin: 0 -20px;
}
.hs__header {
    color: #4E1609;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}
.hs__headline {
    -webkit-box-flex: 1;
    flex: 1;
}
.hs__arrows {
    align-self: center;
}
.hs__arrows .arrow img {
    content: '';
    display: inline-block;
    vertical-align: middle;
    content: "";
    background-size: contain;
    -webkit-filter: brightness(5);
    filter: brightness(5);
    width: 2em;
    height: 2em;
    cursor: pointer;

}
.hs__arrows .arrow.disabled img {
    -webkit-filter: brightness(2);
    filter: brightness(2);
}
.hs__arrows .arrow.arrow-prev img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: 10px;
}
.hs__arrows .arrow.arrow-next img {
}
.hs__item {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 7 - (10px * 2) - (20px / 7));
    margin: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media only screen and (max-width: 990px) {
    .hs__item {
        flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
    }
}
.hs__item:last-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    right: calc(10px * 2 * -1);
}
.hs__item:first-child {
    margin-left: calc(10px * 2);
}
.hs__item__description {
    z-index: 1;
    align-self: flex-start;
    margin-top: 1em;
    height: auto;
}
.hs__item__title{
    font-size: 0.9rem;
}
.hs__item__subtitle {
    color: #aaa;
    display: block;
    font-size: 0.8rem;
}
.hs__item__image__wrapper {
    width: 11em;
    height: 15em;
}
.hs__item__image {
    pointer-events: none;
    padding: 0.1em;
    width: 11em;
    height: 15em;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0.3vw 0vw 0.5vw rgba(0, 0, 3, 1);
}
@media only screen and (min-width: 990px) {
    .hs__wrapper {
        overflow: hidden;
    }
}
@media (hover: none) and (pointer: coarse) {
    .hs__wrapper .hs__arrows {
        display: none;
    }
    .hs__wrapper .hs__item {
        -webkit-box-flex: 1;
        flex: 1 0 calc(23% - 10px * 2);
    }
}
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
    .hs__wrapper .hs__item {
        -webkit-box-flex: 1;
        flex: 1 0 calc(45% - 10px * 2);
    }
}


